<!DOCTYPE html>
<html ng-app="MopPlacesApp">
<head>
    <title>MopPlaces</title>
</head>
<body>
    <script src="http://maps.googleapis.com/maps/api/js">
    </script>
    <mop-places-directive></mop-places-directive>
        <div growl></div>
</body>
</html>
